{block content}
    {control form}
    <div style="margin-top: 20px;">
        <strong>Celková cena:</strong>
        <span id="totalPriceDisplay">{$pricePerSeat}</span> Kč
    </div>
{/block}

{block scripts}
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            var numOfPeopleInput = document.querySelector('input#numOfPeople');
            var totalPriceDisplay = document.getElementById('totalPriceDisplay');
            var pricePerSeatInput = document.querySelector('input[name="pricePerSeat"]');
            var pricePerSeat = parseFloat(pricePerSeatInput.value);

            function updateTotalPrice() {
                var numOfPeople = parseInt(numOfPeopleInput.value) || 0;
                var totalPrice = numOfPeople * pricePerSeat;
                totalPriceDisplay.textContent = totalPrice.toFixed(2);
                console.log('Total Price Updated:', totalPrice);
            }

            numOfPeopleInput.addEventListener('input', updateTotalPrice);
            updateTotalPrice();
        });
    </script>
{/block}
