{block slider}
	<div id="presentation-slider" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner h-100">
			<div class="carousel-item active">
				{if $presentation->photo}
					<img class="d-block w-100" src="{$basePath}/{$presentation->photo}" alt="Card image cap">
				{else}
					<img class="d-block w-100" src="{$basePath}/uploads/presentations/default.webp" alt="Card image cap">
				{/if}
				<div class="overlay h-100">
					<h2 class="overlay-text">{$presentation->title}</h2>
				</div>
			</div>
		</div>
	</div>
{/block}


{block content}
	<div class="row">
		<div class="col">
			<a class="btn btn-secondary" href="{plink :Front:Conference:detail id => $presentation->conference->getId()}">Zpátky na konferenci</a>
		</div>
		{if $user->isLoggedIn()}
			<div class="col text-end">
				<a href="#" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#dialog-question-add">Přidat otázku</a>
			</div>
		{/if}
	</div>


	<div class="row pt-2 justify-content-center align-items-center text-center">
		<div class="col-5">
			<h3 class="card-subtitle mb-2 me-auto">Konference:</h3>
		</div>
		<div class="col-5">
			<h3 class="card-subtitle mb-2">{$presentation->conference->title}</h3>
		</div>
	</div>

	<!-- Začátek -->
	<div class="row pt-2 justify-content-center align-items-center text-center">
		<div class="col-5">
			<h3 class="card-subtitle mb-2">Začátek:</h3>
		</div>
		<div class="col-5">
			<h3 class="card-subtitle mb-2">{$presentation->startsAt|date:'d.m.Y H:i'}</h3>
		</div>
	</div>

	<!-- Konec -->
	<div class="row pt-2 justify-content-center align-items-center text-center">
		<div class="col-5">
			<h3 class="card-subtitle mb-2">Konec:</h3>
		</div>
		<div class="col-5">
			<h3 class="card-subtitle mb-2">{$presentation->endsAt|date:'d.m.Y H:i'}</h3>
		</div>
	</div>

	<!-- Přednášející -->
	<div class="row pt-2 justify-content-center align-items-center text-center">
		<div class="col-5">
			<h3 class="card-subtitle mb-2">Přednášející:</h3>
		</div>
		<div class="col-5">
			<h3 class="card-subtitle mb-2">{$presentation->speaker->getFullName()}</h3>
		</div>
	</div>

	{* TAB MENU *}
	<ul class="nav nav-tabs justify-content-center pt-2" id="myTab" role="tablist">
		<li class="nav-item" role="presentation">
			<button class="nav-link active text-dark" id="description-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="home" aria-selected="true">Popis</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link text-dark" id="questions-tab" data-bs-toggle="tab" data-bs-target="#questions" type="button" role="tab" aria-controls="schedue" aria-selected="true">Otázky</button>
		</li>
	</ul>

	{* TAB CONTENT *}
	<div class="tab-content" id="myTabContent">
		{*	SCHVALENE PREZENTACE	*}
		<div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
			<p class="text-center mt-4">{$presentation->description}</p>
		</div>

		{*	ROZVRH KONFERENCE	*}
		<div class="tab-pane fade show" id="questions" role="tabpanel" aria-labelledby="questions-tab">
			{control questionGrid}
		</div>
	</div>




	{if $user->isLoggedIn() && $presentation->speaker->getId() === $user->getId()}
		<div class="row pt-2 justify-content-center align-items-center my-3">
			<div class="col text-end">
				<a href="#" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#dialog">Upravit</a>
			</div>
		</div>
	{/if}


	<div class="modal fade" id="dialog" tabindex="-1" aria-labelledby="dialog-label" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="dialog-label">Upravit prezentaci</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zavřít">
					</button>
				</div>
				<div class="modal-body">
					{control presentationEditForm}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavřít</button>
				</div>
			</div>
		</div>
	</div>

	{* Question ADD Form *}
	<div class="modal fade" id="dialog-question-add" tabindex="-1" aria-labelledby="dialog-label" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="dialog-label">Přidat otázku</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zavřít">
					</button>
				</div>
				<div class="modal-body">
					{control questionForm}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavřít</button>
				</div>
			</div>
		</div>
	</div>


{/block}
