{block slider}
	<div id="presentation-slider" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner h-100">
			<div class="carousel-item active">
				{if $conference->photo}
					<img class="d-block w-100" src="{$basePath}/{$conference->photo}" alt="Card image cap">
				{else}
					<img class="d-block w-100" src="{$basePath}/uploads/conferences/default.webp" alt="Card image cap">
				{/if}
				<div class="overlay h-100">
					<h2 class="overlay-text">{$conference->title}</h2>
				</div>
			</div>
		</div>
	</div>
{/block}


{block content}
	<div class="row">
		<div class="col">
			<a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#dialog-reservation">Rezervovat lístky</a>
		</div>
		{if $user->isLoggedIn()}
		<div class="col text-end">
			{if $conference->getUser()->getId() === $user->getId()}
			<a href="#" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#dialog">Upravit konferenci</a>
			{/if}
			<a href="#" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#dialog-presentation">Přidat návrh prezentace</a>
		</div>
		{/if}
	</div>

	<div class="row pt-2 justify-content-center align-items-center text-center">
		<div class="col-5">
			<h3 class="card-subtitle mb-2 me-auto">Konference:</h3>
		</div>
		<div class="col-5">
			<h3 class="card-subtitle mb-2">{$conference->title}</h3>
		</div>
	</div>

	<!-- Začátek -->
	<div class="row pt-2 justify-content-center align-items-center text-center">
		<div class="col-5">
			<h3 class="card-subtitle mb-2">Začátek:</h3>
		</div>
		<div class="col-5">
			<h3 class="card-subtitle mb-2">{$conference->getStartsAt()|date:'d.m.Y H:i'}</h3>
		</div>
	</div>

	<!-- Konec -->
	<div class="row pt-2 justify-content-center align-items-center text-center">
		<div class="col-5">
			<h3 class="card-subtitle mb-2">Konec:</h3>
		</div>
		<div class="col-5">
			<h3 class="card-subtitle mb-2">{$conference->getEndsAt()|date:'d.m.Y H:i'}</h3>
		</div>
	</div>

	<!-- Obsazenost -->
	<div class="row pt-2 justify-content-center align-items-center text-center">
		<div class="col-5">
			<h3 class="card-subtitle mb-2">Obsazenost:</h3>
		</div>
		<div class="col-5">
			<h3 class="card-subtitle mb-2">{$conference->getNumOfAttendees()}/{$conference->capacity}</h3>
		</div>
	</div>

	<!-- Přednášející -->
	<div class="row pt-2 justify-content-center align-items-center text-center">
		<div class="col-5">
			<h3 class="card-subtitle mb-2">Žánr:</h3>
		</div>
		<div class="col-5">
			<h3 class="card-subtitle mb-2">{$conference->genre}</h3>
		</div>
	</div>

	<!-- Cena -->
	<div class="row pt-2 justify-content-center align-items-center text-center">
		<div class="col-5">
			<h3 class="card-subtitle mb-2">Cena:</h3>
		</div>
		<div class="col-5">
{*			todo currency*}
			<h3 class="card-subtitle mb-2">{$conference->priceForSeat} Kč</h3>
		</div>
	</div>

	<div class="row pt-2 justify-content-center align-items-center my-3">
		<div class="col-auto">
			<h3 class="card-subtitle mb-2">Popis</h3>
		</div>
	</div>
	<p class="text-center">{$conference->description}</p>


	{* TAB MENU *}
	<ul class="nav nav-tabs justify-content-center pt-2" id="myTab" role="tablist">
		<li class="nav-item" role="presentation">
			<button class="nav-link active text-dark" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Prezentace</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link text-dark" id="schedule-tab" data-bs-toggle="tab" data-bs-target="#schedule" type="button" role="tab" aria-controls="schedue" aria-selected="true">Rozvrh konference</button>
		</li>
		{if $userScheduleList}
			<li class="nav-item" role="presentation">
				<button class="nav-link text-dark" id="userSchedule-tab" data-bs-toggle="tab" data-bs-target="#userSchedule" type="button" role="tab" aria-controls="userSchedule" aria-selected="false">Můj rozvrh</button>
			</li>
		{/if}
		{if $user->isLoggedIn() && $conference->getUser()->getId() === $user->getId()}
			<li class="nav-item" role="presentation">
				<button class="nav-link text-dark" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Neschválené prezentace</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link text-dark" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Místnosti</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link text-dark" id="reservation-tab" data-bs-toggle="tab" data-bs-target="#reservation" type="button" role="tab" aria-controls="reservation" aria-selected="false">Rezervace</button>
			</li>
		{/if}
	</ul>


	<div class="tab-content" id="myTabContent">
		{*	SCHVALENE PREZENTACE	*}
		<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
				{control presentationsList}
		</div>

		{*	ROZVRH KONFERENCE	*}
		<div class="tab-pane fade show" id="schedule" role="tabpanel" aria-labelledby="schedule-tab">
				{control scheduleList}
		</div>

		{*	OSOBNI ROZVRH KONFERENCE	*}
		{if $userScheduleList}
			<div class="tab-pane fade" id="userSchedule" role="tabpanel" aria-labelledby="userSchedule-tab">
				{control userScheduleList}
			</div>
		{/if}

		{if $user->isLoggedIn() && $conference->getUser()->getId() === $user->getId()}
			{*	NE-SCHVALENE PREZENTACE	*}
			<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
				{control presentationsNotApprovedList}
			</div>

			{*	MISTNOSTI	*}
			<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
				{control roomGrid}
				<a href="#" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#dialog-room">Přidat místnost</a>
			</div>

			{*	REZERVACE	*}
			<div class="tab-pane fade" id="reservation" role="tabpanel" aria-labelledby="reservation-tab">
				{control reservationGrid}
			</div>
		{/if}
	</div>



{if $user->isLoggedIn()}
	<div class="modal fade" id="dialog" tabindex="-1" aria-labelledby="dialog-label" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="dialog-label">Upravit konferenci</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zavřít">
					</button>
				</div>
				<div class="modal-body">
					{control conferenceEditForm}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavřít</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="dialog-presentation" tabindex="-1" aria-labelledby="dialog-label" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="dialog-label">Přidat návrh prezentace</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zavřít">
					</button>
				</div>
				<div class="modal-body">
					{control presentationForm}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavřít</button>
				</div>
			</div>
		</div>
	</div>
{/if}

	<div class="modal fade" id="dialog-reservation" tabindex="-1" aria-labelledby="dialog-label" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="dialog-label">Rezervovat vstupenky</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zavřít">
					</button>
				</div>
				<div class="modal-body">
					{control reservationForm}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavřít</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="dialog-room" tabindex="-1" aria-labelledby="dialog-label" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="dialog-label">Přidat místnost</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zavřít">
					</button>
				</div>
				<div class="modal-body">
					{control roomForm}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavřít</button>
				</div>
			</div>
		</div>
	</div>

{/block}
