{layout '../../Base/templates/@layout.latte'}

{block #head}
{/block}

{block #main}

	<div class="container-fluid">
		<div class="row">
			<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
				<div class="sidebar-sticky">
					<ul class="nav flex-column">
						<li class="nav-item">
							<a class="nav-link active" n:href="':Front:Home:default'">
								Hlavní stránka
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" n:href="':Admin:Home:default'">
								Dashboard
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" n:href="':Admin:User:default'">
								Uživatelé
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" n:href="':Admin:Conference:default'">
								Konference
							</a>
            			</li>
						<li class="nav-item">
							<a class="nav-link" n:href="':Admin:Presentation:default'">
								Prezentace
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" n:href="':Admin:Reservation:default'">
								Rezervace
							</a>
						</li>
					</ul>
				</div>
			</nav>
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
				{include #content}
{*            {include 'flashMessages.latte'}*}
			</main>
		</div>
	</div>
{/block}
