<div class="row my-4">
	{if $presentations->count() > 0}
		{foreach $presentations as $presentation}
			<div class="col-sm-12 col-md-6 col-lg-4 mb-4">
				<div class="card" style="width: 100%;">
					<div class="card-image-container">
						{if $presentation->photo}
							<img class="card-img-top" src="{$basePath}/{$presentation->photo}" alt="Card image cap" style="max-height: 300px; object-fit: cover; width: 100%;">
						{else}
							<img class="card-img-top" src="{$basePath}/uploads/presentations/default.webp" alt="Card image cap" style="max-height: 300px; object-fit: cover; width: 100%;">
						{/if}
               			{if isset($presentation->endsAt) && $presentation->endsAt < $currentDateTime}
							<div class="presentation-overlay">PROBĚHLO</div>
						{/if}
					</div>

                    <div class="card-body">
                        <h5 class="card-title">{$presentation->title}</h5>

                        <!-- Zvětšené štítky schválení -->
                        {if $user->isLoggedIn() && ($presentation->speaker->getId() === $user->getId() || $presentation->conference->getUser()->getId() === $user->getId() || $user->isInRole('admin'))}
                            {if $presentation->state === 1}
                                <span class="badge bg-warning mb-3" style="font-size: 0.9rem; padding: 10px;">Čeká na schválení</span>
                            {elseif $presentation->state === 2}
                                <span class="badge bg-success mb-3" style="font-size: 0.9rem; padding: 10px;">Schváleno</span>
                            {elseif $presentation->state === 3}
                                <span class="badge bg-danger mb-3" style="font-size: 0.9rem; padding: 10px;">Neschváleno</span>
                            {/if}
                        {/if}

						<!-- Začátek -->
						<div class="row">
							<div class="col-5">
								<h6 class="card-subtitle mb-2">Začátek:</h6>
							</div>
							<div class="col-7">
								{if isset($presentation->startsAt)}
									<h6 class="card-subtitle mb-2">{$presentation->startsAt|date:'d.m.Y H:i'}</h6>
								{else}
									<h6 class="card-subtitle mb-2">TBD</h6>
								{/if}
							</div>
						</div>

						<!-- Konec -->
						<div class="row">
							<div class="col-5">
								<h6 class="card-subtitle mb-2">Konec:</h6>
							</div>
							<div class="col-7">
								{if isset($presentation->endsAt)}
									<h6 class="card-subtitle mb-2">{$presentation->endsAt|date:'d.m.Y H:i'}</h6>
								{else}
									<h6 class="card-subtitle mb-2">TBD</h6>
								{/if}

							</div>
						</div>

                        <!-- Přednášející -->
                        <div class="row">
                            <div class="col-5">
                                <h6 class="card-subtitle mb-2">Přednášející:</h6>
                            </div>
                            <div class="col-7">
                                <h6 class="card-subtitle mb-2">{$presentation->speaker->getFullName()}</h6>
                            </div>
                        </div>

					<!-- Konec -->
						<div class="row">
								<div class="col-5">
									<h6 class="card-subtitle mb-2">Počet účastníků:</h6>
								</div>
								<div class="col-7">
									<h6 class="card-subtitle mb-2">{$presentation->attendances->count()}</h6>
								</div>
                        </div>

						<a href="{plink :Front:Presentations:detail id => $presentation->getId()}" class="btn btn-primary">Více informací</a>
						{if $user->isLoggedIn() && ($presentation->speaker->getId() === $user->getId()
						|| $presentation->conference->getUser()->getId() === $user->getId())}
							<a n:href="edit! $presentation->getId()" class="btn btn-warning ajax" data-bs-toggle="modal" data-bs-target="#dialog-{$presentation->getId()}">Upravit</a>
						{/if}
					</div>
				</div>
			</div>

			<!-- Unikátní modální okno pro každou prezentaci -->
			<div class="modal fade" id="dialog-{$presentation->getId()}" tabindex="-1" aria-labelledby="dialog-label-{$presentation->getId()}" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="dialog-label-{$presentation->getId()}">Upravit prezentaci</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zavřít"></button>
						</div>
						<div class="modal-body">
							{snippet presentationEditSnippet}
								{if $currentPresentationId}
									{control presentationEditForm}
								{else}
									<div class="text-center">
										<div class="spinner-border" role="status"></div>
									</div>
								{/if}
							{/snippet}
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavřít</button>
						</div>
					</div>
				</div>
			</div>

		{/foreach}

	{else}
		<h5 class="text-center">Nenalezeny žádné prezentace.</h5>
	{/if}
</div>
